CSC110/week2/__pycache__/
*.zip
CSC142/.classpath
CSC142/.project
CSC142/bin/
*.jpg
CSC142/Week2/walter_holley/
CSC142/src/
*.class
*.classpath
*.project
*.prefs
*.png
*.o
*.gch
UMSL/CMPSCI2750/project3/calc
.vscode/settings.json
/.idea/.gitignore
/UMSL/CMPSCI3130/CMPSCI3130.iml
/UMSL/CMPSCI4500/CMPSCI4500.iml
/.idea/codeStyles/codeStyleConfig.xml
/CSC142/CSC142.iml
/CSC143/CSC143.iml
/UMSL/CMPSCI2261/Differences/Differences.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/UMSL/CMPSCI2261/project1/project1.iml
/UMSL/CMPSCI2261/project2/project2.iml
/UMSL/CMPSCI2261/project3/project3.iml
/UMSL/CMPSCI2261/project4/project4.iml
/UMSL/CMPSCI2261/project5/project5.iml
/.idea/school.iml
/.idea/vcs.xml
