CSC110/week2/__pycache__/
*.zip
CSC142/.classpath
CSC142/.project
CSC142/bin/
*.jpg
CSC142/Week2/walter_holley/
CSC142/src/
*.class
*.classpath
*.project
*.prefs
*.png
*.o
*.gch
UMSL/CMPSCI2750/project3/calc
.vscode/settings.json
/.idea/
*.iml
/UMSL/.metadata/
.vscode/c_cpp_properties.json
.vscode/launch.json
UMSL/CMPSCI4250/project1/build/
UMSL/CMPSCI2750/project3/build/Debug/outDebug.exe
*.exe
UMSL/CMPSCI4280/project0/main.dSYM/Contents/Resources/DWARF/main
UMSL/CMPSCI4280/project0/main.dSYM/Contents/Info.plist
.vscode/tasks.json
UMSL/CMPSCI4280/project0/main
UMSL/CMPSCI4280/project0/p0
UMSL/CMPSCI4280/project0/testfile.rtf
UMSL/CMPSCI4280/project0/CMakeLists.txt
UMSL/CMPSCI4280/project0/.vscode/*
UMSL/CMPSCI4280/project0/.vscode/**
