#header{
  color: #717671;
  background-color: #000000;


}

#menu{
  background-color: #33FF33;
}

#content1{
  background-color: #FF0303;
}

#content2{
  background-color: #000CFF;
}

#footer{
  background-color: #6E6868;
}
